<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mystudy.dao.UserMapper">
    <select id="findById" parameterType="int" resultType="com.mystudy.pojo.User">
        select * from `t_user` where id = #{id}
    </select>
    <select id="list" resultType="com.mystudy.pojo.User">
        select * from `t_user`
    </select>

    <insert id="save" parameterType="com.mystudy.pojo.User"
            useGeneratedKeys="true">
        insert into `t_user`(name,age,sex,address) values (#{name},#{age},#{sex},#{address})
    </insert>
</mapper>